@value x-small as bp-x-small, small as bp-small, medium as bp-medium, large as bp-large from "../../styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: row;

  img {
    margin-right: 1em;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.2em;
  }
}

.buttons {
  margin-top: 1em;
}

@media bp-x-small {
  .container {
    width: 100%;
  }
}

@media bp-small {
  .container {
    width: 50%;
  }
}

@media bp-medium {
  .container {
    width: 33%;
  }
}

@media bp-large {
  .container {
    width: 25%;
  }
}
