.info {
  display: flex;
  flex-direction: row;

  img {
    height: 300px;
  }

  article {
    margin-left: 1em;
  }
}

.booksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}
