.container {
  .bookCoverWithAvatars {
    position: relative;

    .ownerAvatar {
      position: absolute;
      bottom: 0px;
      left: -5px;
    }

    .borrowerAvatar {
      position: absolute;
      bottom: 0px;
      right: -5px;
    }
  }
}
