name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '13.x'

    - name: Install packages
      run: yarn install

    ## Server

    - name: Lint
      run: yarn server lint

    - name: Test
      run: yarn server test --coverage

    - name: Build
      run: yarn server build

    ## Web

    - name: Lint
      run: yarn web lint

    - name: Test
      run: yarn web test --coverage

    - name: Build
      run: yarn web build
