name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '13.7'

    - uses: actions/cache@v1
      with:
        path: ~/.cache/yarn
        key: ${{ runner.os }}-yarn-${{ hashFiles(format('{0}{1}', github.workspace, '/yarn.lock')) }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install packages
      run: yarn install

    - name: Generate GrapQL components
      run: yarn web codegen

    - name: Lint
      run: yarn lint

    - name: Test
      run: yarn test --coverage

    - name: Upload test coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    ## Server

    - name: Build server --skipLibCheck
      run: yarn server build

    ## Web

    - name: Build storybbok
      run: yarn web storybook:build

    - name: Build web app
      run: yarn web build --skipLibCheck
